{% extends 'base.html' %} {% block content %}

<div class="container-fluid">
  <div class="row mt-4 justify-content-center">
    <div class="col-md-6 text-center">
      <h1>Manage Your Bookings</h1>
      <br />

      {% if bookings %}
      <h2>Upcoming Reservations</h2>
      <ul class="list-group">
        {% for booking in bookings %}
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          <div>
            {{ booking.date }} at {{ booking.time }} for {{
            booking.number_of_guests }} guests
          </div>
          <div class="d-flex">
            <a
              href="{% url 'update_record' booking.id %}"
              class="btn btn-sm btn-primary me-2"
              >Update</a
            >
            <a
              href="{% url 'delete_record' booking.id %}"
              class="btn btn-sm btn-danger"
              onclick="return confirm('Are you sure you want to delete this reservation?');"
              >Delete</a
            >
          </div>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>No upcoming reservations found.</p>
      {% endif %}

      <br />

      <h2>Book a New Table</h2>

      <form method="POST" action="{% url 'add_record' %}">
        {% csrf_token %} {{ form.as_p }}

        <br />
        <button type="submit" class="btn btn-secondary">Book a Table</button>
        <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
      </form>
    </div>
  </div>
</div>

{% endblock %}
