<!-- Reference: Code Institute Curriculum and Code Star Project -->
<!-- Reference: https://github.com/flatplanet/Django-CRM -->
<!-- Reference: https://getbootstrap.com -->
<!-- Notes: Below code is based on the above references and modifed for the project -->
<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Restaurant - Fine Dine - Base</title>
  <meta name="description" content="Secure your table at our fine-dining restaurant! Book your reservation online quickly and easily. Enjoy an unforgettable culinary experience.">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

{% load static %}

<!-- Reference in modified parts below: https://github.com/flatplanet/Django-CRM -->
    {% include 'navbar.html' %}
{% if user.is_authenticated %}
{% else %}
{% endif %}
      {% block content %}
      {% endblock%}
      {% include 'footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-YWznSfwjQv1dWjWNgQFgkgzPeVXeZP5A8VBvxlHzXnCHQ/ZwTpWTV/mW25BBMvxqqNFTsTE37OcBBXL0adiu0g==" crossorigin="anonymous" referrerpolicy="no-referrer">
  </body>
</html>