<!-- Reference: Code Institute Curriculum and Code Star Project -->
<!-- Reference: https://github.com/flatplanet/Django-CRM -->
<!-- Reference: https://getbootstrap.com -->
<!-- Notes: Below code is based on the above references and modifed for the project -->

<!DOCTYPE html>
<html class="h-100" lang="en">
<head>
  <title>Restaurant - Fine Dine - Contact</title>
  <meta name="description" content="Plan your unforgettable fine-dining 
  experience! Book a table online at our restaurant and savor exquisite cuisine
  in an elegant ambiance.">
</head>

{% extends 'base.html' %} {% block content %} {% if user.is_authenticated %}
<br>
<br>
<br>
<br>
<section class="container py-5">
<h2>Welcome back, {{ user.username }}!</h2>
{% endif %}

<!-- Reference in modified parts below: https://github.com/flatplanet/Django-CRM -->
<h2>Please Create Your Next Reservation Here!</h2>
<form method="POST" action="create_reservation">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="date" class="form-label">Date</label>
      <input type="date" class="form-control px-3" id="date" name="date">
    </div>
    <div class="col-md-6 mb-3">
      <label for="time" class="form-label">Time</label>
      <input type="time" class="form-control px-3" id="time" name="time">
    </div>
    <div class="col-md-6 mb-3">
      <label for="number_of_guests" class="form-label">Guests</label>
      <input
        type="number"
        class="form-control px-3"
        id="number_of_guests"
        name="number_of_guests">
    </div>
    <div class="col-md-6 mb-3">
      <label for="occasion" class="form-label">Occasion</label>
      <input
        type="text"
        class="form-control px-3"
        id="occasion"
        name="occasion">
    </div>
   <div class="form-check form-check-inline d-flex justify-content-between">
  <div class="ms-auto">
    <a href="agreed_to_terms">Read Terms & Conditions</a>
    <label class="form-check-label" for="agreed_to_terms">
      I agree to the terms and conditions
    </label>
    <input type="checkbox" class="form-check-input" id="agreed_to_terms" name="agreed_to_terms">
  </div>
</div> 
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Create Reservation</button>
  </div>
</form>
</section>
{% endblock %}
</body>
