<!-- Reference: Code Institute Curriculum and Code Star Project -->
<!-- Reference: https://github.com/flatplanet/Django-CRM -->
<!-- Reference: https://getbootstrap.com/docs/5.0/components/navbar/ -->
<!-- Reference: https://getbootstrap.com/docs/4.0/components/navbar/ -->
<!-- Reference: https://getbootstrap.com -->
<!-- Notes: Below code is based on the above references and modifed for the project -->
<!DOCTYPE html>
<html class="h-100" lang="en">
<head>
  <title>Restaurant - Fine Dine - 500</title>
  <meta name="description" content="Secure your table at our fine-dining restaurant! Book your reservation online quickly and easily. Enjoy an unforgettable culinary experience.">
</head>

<body>
<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
  style="z-index: 1000"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Restaurant - Fine Dine</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'menu' %}">Menu</a>
        </li>

        {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'create_reservation' %}"
          >Book a Table</a
        >

        {% else %}
        <a class="nav-link" href="{% url 'reservation_form' %}">Request a Table</a>
        {% endif %} 

        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'my_reservations' %}"
            >My Reservations</a
          >
        </li>
        {% endif %}

        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About Us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Contact</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_login' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
        </li>

        <main class="flex-shrink-0 main-bg">
          {% if user.is_authenticated %}
          <p class="text-end m-3 text-white">
            You are logged in as {{ user.username }}
          </p>
          {% else %}
          <p class="text-end m-3 text-white">You are not logged in</p>
          {% endif %}
        </main>
      </ul>
    </div>
  </div>
</nav>
