{% extends 'base.html' %}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<h2>Update Reservation</h2>

{% if reservation %}

<form method="POST" action="{% url 'update_reservation' reservation.id %}">
  {% csrf_token %}
  <div class="row">
    <br>
    <br>
    <br>
    <div class="col-md-6 mb-3">
      <label for="date" class="form-label">Date</label>
      <input type="date" class="form-control" id="date" name="date" value="{{ reservation.date }}">
    </div>
    <div class="col-md-6 mb-3">
      <label for="time" class="form-label">Time</label>
      <input type="time" class="form-control" id="time" name="time" value="{{ reservation.reservation.time }}">
    </div>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Save Changes</button>
  </div>
</form>

{% else %}

<p>Reservation not found.</p>

{% endif %}

{% endblock %}
